# ClassroomIO
# Project: Self-hosted API and Dashboard
# Description: This docker-compose file sets up the api and dashboard services for self-hosting.
# Author: rotimi-best
# Date: 2024-09-18

version: "3.8"

services:
  redis:
    image: redis:alpine
    restart: always

  api:
    container_name: cio-api
    image: classroomio/api:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    ports:
      - "3081:3081"
    depends_on:
      - redis
    env_file:
      - ../.env
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - PUBLIC_SUPABASE_URL=${PUBLIC_SUPABASE_URL}
      - PUBLIC_SUPABASE_ANON_KEY=${PUBLIC_SUPABASE_ANON_KEY}
      - PRIVATE_SUPABASE_SERVICE_ROLE=${PRIVATE_SUPABASE_SERVICE_ROLE}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SENDER=${SMTP_SENDER}
      - SENDGRID_API_KEY=${SENDGRID_API_KEY}
      # Cloudflare - Video upload
      - CLOUDFLARE_BUCKET_DOMAIN=${CLOUDFLARE_BUCKET_DOMAIN}
      - CLOUDFLARE_ACCESS_KEY=${CLOUDFLARE_ACCESS_KEY}
      - CLOUDFLARE_SECRET_ACCESS_KEY=${CLOUDFLARE_SECRET_ACCESS_KEY}
      - CLOUDFLARE_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID}

  dashboard:
    image: classroomio/dashboard:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile.dashboard
    ports:
      - "3082:3082"
    env_file:
      - ../.env
    environment:
      - PUBLIC_IS_SELFHOSTED=true
      - PUBLIC_SUPABASE_URL=${PUBLIC_SUPABASE_URL}
      - PUBLIC_SUPABASE_ANON_KEY=${PUBLIC_SUPABASE_ANON_KEY}
      - PRIVATE_SUPABASE_SERVICE_ROLE=${PRIVATE_SUPABASE_SERVICE_ROLE}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - PUBLIC_SERVER_URL=${PUBLIC_SERVER_URL}
      - PUBLIC_EMAIL_SENDER=${PUBLIC_EMAIL_SENDER}
      - PRIVATE_APP_HOST=${PRIVATE_APP_HOST}
      - PRIVATE_APP_SUBDOMAINS=${PRIVATE_APP_SUBDOMAINS}
    depends_on:
      - api
      - PRIVATE_APP_SUBDOMAINS=${PRIVATE_APP_SUBDOMAINS}
    depends_on:
      - api
